# Laravel
backend/.env
backend/vendor/
backend/storage/logs/
backend/storage/framework/cache/

# React
frontend/node_modules/
frontend/dist/
frontend/.env

# Docker
*.log

# Git (Paksa LF)
* text=auto eol=lf
*.php text eol=lf
*.json text eol=lf
*.env text eol=lf